@model SearchFormEntity

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        .table-container {
            overflow-x: auto;
        }
    </style>
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GroupProjectDepositCatalogWebApp.styles.css" asp-append-version="true" />
</head>
<div class="row">
    <div>
        <form id="myForm" asp-action="Index" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-container">
            <div class="form-group">
                <label asp-for="TypeOfDeposit" class="control-label">Deposit type</label>
                <select asp-for="TypeOfDeposit" class="form-control" asp-items="Html.GetEnumSelectList<DepositType>()"></select>
                <span asp-validation-for="TypeOfDeposit" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="CurrencyType" class="control-label">Type of currency</label>
                    <select asp-for="CurrencyType" class="form-control" asp-items="Html.GetEnumSelectList<CurrencyType>()">
                        <option value="">All</option>
                    </select>
                    <span asp-validation-for="CurrencyType" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="InvestmentSum" class="control-label">Sum invested in the deposit</label>
                <input asp-for="InvestmentSum" class="form-control" value="@Model.InvestmentSum"/>
                <span asp-validation-for="InvestmentSum" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="DurrationPlanned" class="control-label">Durration of deposit in months</label>
                <input asp-for="DurrationPlanned" class="form-control" value="@Model.DurrationPlanned"/>
                <span asp-validation-for="DurrationPlanned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterestPaymentType" class="control-label">Type of interest payment</label>
                <select asp-for="InterestPaymentType" class="form-control" asp-items="Html.GetEnumSelectList<InterestPaymentType>()">
                    <option value="">All</option>
                </select>
                <span asp-validation-for="InterestPaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnershipType" class="control-label">Ownership type</label>
                <select asp-for="OwnershipType" class="form-control" asp-items="Html.GetEnumSelectList<OwnershipType>()">
                    <option value="">All</option>
                </select>
                <span asp-validation-for="OwnershipType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfInterest" class="control-label">Type of interest</label>
                <select asp-for="TypeOfInterest" class="form-control" asp-items="Html.GetEnumSelectList<InterestEnumType>()">
                    <option value="">All</option>
                </select>
                <span asp-validation-for="TypeOfInterest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeDeposit" class="control-label">With possability for timed deposits</label>
                <select asp-for="TimeDeposit" class="form-control" asp-items="Html.GetEnumSelectList<TimeDepositOption>()">
                </select>
                <span asp-validation-for="TimeDeposit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OverdraftPossability" class="control-label">With overdrafing possability</label>
                <select asp-for="OverdraftPossability" class="form-control" asp-items="Html.GetEnumSelectList<OverdraftPossabilityOption>()">
                </select>
                <span asp-validation-for="OverdraftPossability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditPossability" class="control-label">With possability for credit</label>
                <select asp-for="CreditPossability" class="form-control" asp-items="Html.GetEnumSelectList<CreditPossabilityOption>()">
                </select>
                <span asp-validation-for="CreditPossability" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group text-center" style="margin-top: 5px">
                <input type="submit" value="Search" class="btn btn-primary" style="" />
            </div>
        </form>
    </div>
</div>

<div id="partialZone">
    
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-container">
    <table class="table" style="text-align:center">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Name of the deposit
            </th>
            <th>
                Currency type
            </th>
            <th>
                Yearly Interest Rate
            </th>
            <th>
                Minimum sum
            </th>
            <th>
                Type of interest
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Results) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepositName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfCurrency)
            </td>
            <td>
                @String.Format("{0:0.00}%", item.EffectiveAnnualInterestRate)
            </td>
            <td>
                @String.Format("{0:0.00}", item.MinSum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfInterest)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdentifyingNum">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdentifyingNum">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdentifyingNum">Delete</a> |
                <a asp-action="CleanUp" asp-route-id="@item.IdentifyingNum" 
                asp-route-SearchSum = "@Model.InvestmentSum"
                asp-route-Durration = "@Model.DurrationPlanned">CleanUp</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
